:root {
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --primary-color: #172234;
  --accent-color: #B29F7E;

  --primary-white-color: #ffffff;
  --secondary-white-color: #f2f2f2;

  --primary-black-color: #000000;

  --primary-grey-color: #E0E0E0;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--secondary-white-color);
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  min-width: 150px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: inline-block;
}

input {
  box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
 
}

::-webkit-scrollbar-track {
  
  background: var(--secondary-white-color);
  
}

::-webkit-scrollbar-thumb {
  background: var(--primary-grey-color);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}